* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#f5f5f5;
}

.todo-app {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #4d4d4d;
}

.completed {
  text-decoration: line-through;
}

.header {
  text-align: center;
  font-weight: 400;
  font-size: 100px;
  color: rgba(175, 47, 47, 0.25);
  padding: 15px 0;
}

.collection {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.collection-item {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 30px 40px 30px 70px;
  border-bottom: 1px solid #ededed;
  max-height: 40px;
  font-size: 24px;
}

.add-todo-form {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  border: none;
  outline: none;
  color: #4d4d4d;
}

::-webkit-input-placeholder {
  font-style: italic;
  color: #e0e0e0;
}

.cross {
  position: absolute;
  display: none;
  right: 30px;
  padding: 5px;
  width: 15px;
  height: 15px;
  margin-left: auto;
  background-image: url("./_images/cross.png");
  background-size: cover;
}

.collection-item:hover .cross {
  display: inline;
  opacity: .5;
}

.arrow {
  position: absolute;
  left: 20px;
  width: 20px;
  height: 17px;
  opacity: .15;
  background-image: url("./_images/arrow.png");
  background-size: cover;
  transition: transform .3s;
  -webkit-transition: transform .3s;
  -moz-transition: transform .3s;
  -ms-transition: transform .3s;
  -o-transition: transform .3s;
}